flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
flask-mail==0.9.1
flask-migrate==2.4.0
flask-sqlalchemy==2.4.3
flask-wtf==0.14.3
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
jinja2==2.11.2
mako==1.1.0
markupsafe==1.1.1
pip==20.1.1
psycopg2==2.8.5
pycparser==2.20
pyjwt==1.7.1
pysocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
pytz==2020.1
requests==2.23.0
setuptools==47.3.1
